In [2]:
import json
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import plotly.express as px
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
from yellowbrick.cluster import SilhouetteVisualizer
from yellowbrick.datasets import load_nfl
from yellowbrick.cluster import KElbowVisualizer
from itertools import permutations
from google.colab import drive
from google.colab import files
import sys
import time
drive.mount('/content/gdrive/', force_remount=True)
root_dir = "/content/gdrive/My Drive/"
sys.path.append(root_dir)
from sklearn import preprocessing
df = pd.read_pickle(root_dir + "allsongs.pkl")

Mounted at /content/gdrive/

In [ ]:
df.head()

,name,pid,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,disney,1000,0.422695,0.30755,4.455026,-14.911296,0.73545,0.088776,0.714873,0.136776,0.199156,0.36943,108.465815,166285.539683,3.804233
0,Indie Electro,1001,0.462764,0.57254,5.369697,-11.907152,0.593939,0.077647,0.432635,0.705338,0.210089,0.347538,118.752618,231767.436364,3.836364
0,jack & jack,1002,0.693529,0.682882,5.588235,-6.842941,0.588235,0.106512,0.28931,0.000244,0.203235,0.508647,112.472176,208772.0,4.117647
0,vibes,1003,0.62888,0.61972,5.017778,-6.988858,0.528889,0.102996,0.209519,0.051584,0.182748,0.452402,116.640884,227746.897778,3.977778
0,Indie,1004,0.580194,0.644903,5.418182,-7.713709,0.709091,0.0549,0.245099,0.199558,0.185191,0.502567,117.953721,258844.315152,3.945455

In [ ]:
df.describe()

,name,pid,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
count,1000000,1000000,1000000.00000,1000000.000000,1000000.0,1000000.0000,1000000.0,1000000.000000,1000000.000000,1000000.0,1000000.000000,1000000.000000,1000000.000000,1000000.00,1000000.0
unique,92944,1000000,648794.00000,721413.000000,33000.0,935388.0000,12019.0,815590.000000,989301.000000,992126.0,821928.000000,832005.000000,982214.000000,982900.00,9906.0
top,Country,1000,0.57375,0.660083,5.0,-10.0035,0.5,0.052283,0.249955,0.0,0.204817,0.687417,122.322917,221813.75,4.0
freq,5388,1,129.00000,133.000000,15510.0,114.0000,25607.0,118.000000,122.000000,1695.0,132.000000,125.000000,134.000000,135.00,240501.0

In [ ]:
columns = ["danceability","energy","loudness","mode","acousticness","instrumentalness","liveness","valence"]
'''df_spotify = df
import matplotlib.pyplot as plt
for i in columns:
    plt.hist(df_spotify[i])
    plt.title("Danceability seems well distributed in our Playlists")
    plt.ylabel("Songs Count")
    plt.xlabel("Danceability")
    plt.show()'''

In [ ]:
df3 = df

In [ ]:
df2 = df3

In [ ]:
df2.head()

,name,pid,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,disney,1000,0.422695,0.30755,4.455026,-14.911296,0.73545,0.088776,0.714873,0.136776,0.199156,0.36943,108.465815,166285.539683,3.804233
0,Indie Electro,1001,0.462764,0.57254,5.369697,-11.907152,0.593939,0.077647,0.432635,0.705338,0.210089,0.347538,118.752618,231767.436364,3.836364
0,jack & jack,1002,0.693529,0.682882,5.588235,-6.842941,0.588235,0.106512,0.28931,0.000244,0.203235,0.508647,112.472176,208772.0,4.117647
0,vibes,1003,0.62888,0.61972,5.017778,-6.988858,0.528889,0.102996,0.209519,0.051584,0.182748,0.452402,116.640884,227746.897778,3.977778
0,Indie,1004,0.580194,0.644903,5.418182,-7.713709,0.709091,0.0549,0.245099,0.199558,0.185191,0.502567,117.953721,258844.315152,3.945455

In [ ]:
df = df2.iloc[:10000]

In [ ]:
df.head()

,name,pid,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,disney,1000,0.422695,0.30755,4.455026,-14.911296,0.73545,0.088776,0.714873,0.136776,0.199156,0.36943,108.465815,166285.539683,3.804233
0,Indie Electro,1001,0.462764,0.57254,5.369697,-11.907152,0.593939,0.077647,0.432635,0.705338,0.210089,0.347538,118.752618,231767.436364,3.836364
0,jack & jack,1002,0.693529,0.682882,5.588235,-6.842941,0.588235,0.106512,0.28931,0.000244,0.203235,0.508647,112.472176,208772.0,4.117647
0,vibes,1003,0.62888,0.61972,5.017778,-6.988858,0.528889,0.102996,0.209519,0.051584,0.182748,0.452402,116.640884,227746.897778,3.977778
0,Indie,1004,0.580194,0.644903,5.418182,-7.713709,0.709091,0.0549,0.245099,0.199558,0.185191,0.502567,117.953721,258844.315152,3.945455

In [ ]:
hello = pd.read_pickle(root_dir + "songsall.pkl")

In [4]:
columns_add = df[["name","pid"]]

In [ ]:
df = df.drop(columns = ["name","pid"])
x = df.values 
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df2 = pd.DataFrame(x_scaled)


perm = permutations(columns, 12)
output = set(map(lambda x: tuple(sorted(x)),perm))
print(len(output))
a=[]
column_names = ["features", "score", "elbow"]
df3 = pd.DataFrame(columns = column_names)

In [ ]:
output = {('acousticness', 'danceability', 'duration_ms', 'energy', 'instrumentalness', 'key', 'liveness', 'loudness', 'mode', 'speechiness', 'tempo', 'valence'), ('acousticness', 'danceability', 'duration_ms', 'energy', 'instrumentalness', 'key', 'liveness', 'loudness', 'mode', 'speechiness', 'time_signature', 'valence'), ('acousticness', 'danceability', 'duration_ms', 'energy', 'instrumentalness', 'key', 'liveness', 'mode', 'speechiness', 'tempo', 'time_signature', 'valence'), ('acousticness', 'danceability', 'duration_ms', 'energy', 'key', 'liveness', 'loudness', 'mode', 'speechiness', 'tempo', 'time_signature', 'valence'), ('acousticness', 'duration_ms', 'energy', 'instrumentalness', 'key', 'liveness', 'loudness', 'mode', 'speechiness', 'tempo', 'time_signature', 'valence'), ('acousticness', 'danceability', 'duration_ms', 'energy', 'instrumentalness', 'key', 'liveness', 'loudness', 'speechiness', 'tempo', 'time_signature', 'valence'), ('danceability', 'duration_ms', 'energy', 'instrumentalness', 'key', 'liveness', 'loudness', 'mode', 'speechiness', 'tempo', 'time_signature', 'valence'), ('acousticness', 'danceability', 'duration_ms', 'energy', 'instrumentalness', 'liveness', 'loudness', 'mode', 'speechiness', 'tempo', 'time_signature', 'valence'), ('acousticness', 'danceability', 'duration_ms', 'energy', 'instrumentalness', 'key', 'liveness', 'loudness', 'mode', 'speechiness', 'tempo', 'time_signature'), ('acousticness', 'danceability', 'duration_ms', 'instrumentalness', 'key', 'liveness', 'loudness', 'mode', 'speechiness', 'tempo', 'time_signature', 'valence'), ('acousticness', 'danceability', 'duration_ms', 'energy', 'instrumentalness', 'key', 'loudness', 'mode', 'speechiness', 'tempo', 'time_signature', 'valence'), ('acousticness', 'danceability', 'duration_ms', 'energy', 'instrumentalness', 'key', 'liveness', 'loudness', 'mode', 'tempo', 'time_signature', 'valence'), ('acousticness', 'danceability', 'energy', 'instrumentalness', 'key', 'liveness', 'loudness', 'mode', 'speechiness', 'tempo', 'time_signature', 'valence')}
a=[]
column_names = ["features", "score", "elbow"]
df1 = pd.DataFrame(columns = column_names)

In [ ]:
for i in list(output):
    try:
        print(i)
        df1 = df[[i[0], i[1], i[2],i[3], i[4], i[5],i[6], i[7], i[8],i[9], i[10], i[11]]]
        print(df1)
        x = df1.values  # returns a numpy array
        min_max_scaler = preprocessing.MinMaxScaler()
        x_scaled = min_max_scaler.fit_transform(x)

        model = KMeans(random_state=0)
        visualizer = KElbowVisualizer(model, k=(2,12), metric='silhouette', timings=False)
        visualizer.fit(x_scaled)
        score = visualizer.elbow_score_
        value = visualizer.elbow_value_
        if score>0.4:
            # visualizer.show()
            idx = df1.columns
            mylist = idx.tolist()
            dict = {
                "features": mylist,
                "score": score,
                "elbow": value
            }
            df3 = df3.append(dict, ignore_index=True)
    except Exception as e:
        print(e)


print(df3)

In [ ]:
%%time
def make_genre_df(path, num_slices, genres):
    df_list = [[] for _ in range(len(genres))]
    count = 0
    slice_df = pd.read_pickle(root_dir + "songsall.pkl")[:1000]
    slice_df['normalized_name'] = slice_df['track_name'].apply(lambda x: normalize_name(x))
    for i, genre in enumerate(genres):
        genre_df = slice_df[slice_df['normalized_name'].str.match(genre)]
        genre_df['genre'] = i
        df_list[i].append(genre_df)
    count += 1
    return df_list

path = 'data'
genres = ['rock', '(?:rap|hip hop)', 'classical', 'pop', '(?:r and b|rhythm and blues)', 'country', 'guilty pleasures', '(?:cardio|workout)', 'party', 'happy', 'sad', 'angst', 'study']
genre_df = make_genre_df(path, 1000, genres)

In [ ]:
slice_df = pd.read_pickle(root_dir + "songsall.pkl")
slice_df.head()

,trackid,artist_name,track_name,pid,num_holdouts
0,spotify:track:5IbCV9Icebx8rR6wAp5hhP,Original Broadway Cast - The Little Mermaid,Fathoms Below - Broadway Cast Recording,1000,None
1,spotify:track:6rKVAvjHcxAzZ1BHtwh5yC,Original Broadway Cast - The Little Mermaid,Daughters Of Triton - Broadway Cast Recording,1000,None
2,spotify:track:6Jlkb1Wh08RYHstWScsTvg,Original Broadway Cast - The Little Mermaid,The World Above - Broadway Cast Recording,1000,None
3,spotify:track:0XhC8bfStML9ygBmfOt1JJ,Original Broadway Cast - The Little Mermaid,Human Stuff - Broadway Cast Recording,1000,None
4,spotify:track:0ABxAcsRWlqckkyONsfP67,Original Broadway Cast - The Little Mermaid,I Want the Good Times Back - Broadway Cast Rec...,1000,None

In [ ]:
import re
def normalize_name(name):
    name = name.lower()
    name = re.sub(r"[.,\/#!$%\^\*;:{}=\_`~()@-]", ' ', name)
    name = re.sub(r"&", 'and', name)
    name = re.sub(r'\s+', ' ', name).strip()
    return name

In [ ]:
!pip install k-means-constrained

In [6]:
from sklearn.cluster import KMeans
from scipy.spatial.distance import cdist
from scipy.optimize import linear_sum_assignment
import numpy as np


def get_even_clusters(X, cluster_size):
    n_clusters = int(np.ceil(len(X)/cluster_size))
    kmeans = KMeans(n_clusters)
    kmeans.fit(X)
    centers = kmeans.cluster_centers_
    centers = centers.reshape(-1, 1, X.shape[-1]).repeat(cluster_size, 1).reshape(-1, X.shape[-1])
    distance_matrix = cdist(X, centers)
    clusters = linear_sum_assignment(distance_matrix)[1]//cluster_size
    return clusters

In [ ]:

i = columns
df1 = df[[i[0], i[1], i[2],i[3], i[4], i[5],i[6], i[7]]]
print(i)
x = df1.values  # returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
from sklearn.cluster import KMeans
'''kmeans = KMeansConstrained(init="k-means++",
                n_clusters=10000,
                random_state=15,
                max_iter = 500).fit(x_scaled)'''
kmeans = get_even_clusters(x_scaled,1000)
df1['kmeans'] = kmeans.labels_
df1.columns = ["danceability","energy","loudness","mode","acousticness","instrumentalness","liveness","valence","kmeans"]

In [6]:
df1.head()

,danceability,energy,loudness,mode,acousticness,instrumentalness,liveness,valence,kmeans
0,0.422695,0.30755,-14.911296,0.73545,0.714873,0.136776,0.199156,0.36943,97
0,0.462764,0.57254,-11.907152,0.593939,0.432635,0.705338,0.210089,0.347538,87
0,0.693529,0.682882,-6.842941,0.588235,0.28931,0.000244,0.203235,0.508647,55
0,0.62888,0.61972,-6.988858,0.528889,0.209519,0.051584,0.182748,0.452402,36
0,0.580194,0.644903,-7.713709,0.709091,0.245099,0.199558,0.185191,0.502567,39

In [ ]:
for i in range(100):
  df4 = df1[df1["kmeans"] == i]
  print(df4.shape)

In [ ]:
hello = pd.read_pickle(root_dir + "clusters3.pkl")

In [ ]:
hello.head()

,name,pid,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,kmeans
0,disney,1000,0.422695,0.30755,4.455026,-14.911296,0.73545,0.088776,0.714873,0.136776,0.199156,0.36943,108.465815,3.804233,75
0,Indie Electro,1001,0.462764,0.57254,5.369697,-11.907152,0.593939,0.077647,0.432635,0.705338,0.210089,0.347538,118.752618,3.836364,14
0,jack & jack,1002,0.693529,0.682882,5.588235,-6.842941,0.588235,0.106512,0.28931,0.000244,0.203235,0.508647,112.472176,4.117647,30
0,vibes,1003,0.62888,0.61972,5.017778,-6.988858,0.528889,0.102996,0.209519,0.051584,0.182748,0.452402,116.640884,3.977778,16
0,Indie,1004,0.580194,0.644903,5.418182,-7.713709,0.709091,0.0549,0.245099,0.199558,0.185191,0.502567,117.953721,3.945455,96

In [ ]:
from sklearn.model_selection import train_test_split
x = hello.drop(["kmeans","name","pid"],axis=1)
y = hello["kmeans"]
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.2)

In [ ]:
X_train.to_csv(root_dir+ "x_train")
X_test.to_csv(root_dir+ "x_test")
Y_train.to_csv(root_dir+ "y_train")
Y_test.to_csv(root_dir+ "y_test")

In [ ]:
df1['kmeans']

In [ ]:
df1.head()

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,kmeans
0,0.422695,0.30755,4.455026,-14.911296,0.73545,0.088776,0.714873,0.136776,0.199156,0.36943,108.465815,3.804233,5
0,0.462764,0.57254,5.369697,-11.907152,0.593939,0.077647,0.432635,0.705338,0.210089,0.347538,118.752618,3.836364,7
0,0.693529,0.682882,5.588235,-6.842941,0.588235,0.106512,0.28931,0.000244,0.203235,0.508647,112.472176,4.117647,8
0,0.62888,0.61972,5.017778,-6.988858,0.528889,0.102996,0.209519,0.051584,0.182748,0.452402,116.640884,3.977778,0
0,0.580194,0.644903,5.418182,-7.713709,0.709091,0.0549,0.245099,0.199558,0.185191,0.502567,117.953721,3.945455,1

In [ ]:
from sklearn.model_selection import train_test_split
df1 = df[[i[0], i[1], i[2],i[3], i[4], i[5],i[6], i[7], i[8],i[9], i[10], i[12]]] 
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.3)

In [ ]:
print(df1.shape)

In [ ]:
df3 = pd.concat([columns_add,df1], axis=1)

In [ ]:
df3.head()

,name,pid,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,kmeans
0,disney,1000,0.422695,0.30755,4.455026,-14.911296,0.73545,0.088776,0.714873,0.136776,0.199156,0.36943,108.465815,3.804233,75
0,Indie Electro,1001,0.462764,0.57254,5.369697,-11.907152,0.593939,0.077647,0.432635,0.705338,0.210089,0.347538,118.752618,3.836364,14
0,jack & jack,1002,0.693529,0.682882,5.588235,-6.842941,0.588235,0.106512,0.28931,0.000244,0.203235,0.508647,112.472176,4.117647,30
0,vibes,1003,0.62888,0.61972,5.017778,-6.988858,0.528889,0.102996,0.209519,0.051584,0.182748,0.452402,116.640884,3.977778,16
0,Indie,1004,0.580194,0.644903,5.418182,-7.713709,0.709091,0.0549,0.245099,0.199558,0.185191,0.502567,117.953721,3.945455,96

In [ ]:
for i in range(100):
  df4 = df3[df3["kmeans"] == i]
  print(df4.shape)

In [ ]:
clusters = df1.to_pickle(root_dir + "clusters3.pkl")

In [ ]:
import seaborn as sns
kmeans = df1['kmeans']
df['kmeans'] = kmeans

fig = px.scatter_3d(df, x='energy', y='instrumentalness', z='loudness',
              color='kmeans')
fig.show()


# ---------------------------------- Violin Plot for each cluster ------------------
c0 = df1[df1['kmeans']==0]
c1 = df1[df1['kmeans']==1]
c2 = df1[df1['kmeans']==2]
c3 = df1[df1['kmeans']==3]
c4 = df1[df1['kmeans']==4]
c5 = df1[df1['kmeans']==5]
c6 = df1[df1['kmeans']==6]
c7 = df1[df1['kmeans']==7]
c8 = df1[df1['kmeans']==8]
c9 = df1[df1['kmeans']==9]


# genre =df ['genre']
# c0['genre'] = genre
# c1['genre'] = genre
# c2['genre'] = genre

c0.drop(['kmeans'], axis=1, inplace=True)
c1.drop(['kmeans'], axis=1, inplace=True)
c2.drop(['kmeans'], axis=1, inplace=True)
c3.drop(['kmeans'], axis=1, inplace=True)
c4.drop(['kmeans'], axis=1, inplace=True)
c5.drop(['kmeans'], axis=1, inplace=True)
c6.drop(['kmeans'], axis=1, inplace=True)
c7.drop(['kmeans'], axis=1, inplace=True)
c8.drop(['kmeans'], axis=1, inplace=True)
c9.drop(['kmeans'], axis=1, inplace=True)



x = c0.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
c0_scaled = min_max_scaler.fit_transform(x)
c0 = pd.DataFrame(c0_scaled)
c0.columns = ["danceability","energy","key","loudness","mode","speechiness","acousticness","instrumentalness","liveness","valence","tempo","time_signature"]
c0=c0.melt(var_name='groups', value_name='vals')

x = c1.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
c1_scaled = min_max_scaler.fit_transform(x)
c1 = pd.DataFrame(c1_scaled)
c1.columns = ["danceability","energy","key","loudness","mode","speechiness","acousticness","instrumentalness","liveness","valence","tempo","time_signature"]
c1=c1.melt(var_name='groups', value_name='vals')

x = c2.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
c2_scaled = min_max_scaler.fit_transform(x)
c2 = pd.DataFrame(c2_scaled)
c2.columns = ["danceability","energy","key","loudness","mode","speechiness","acousticness","instrumentalness","liveness","valence","tempo","time_signature"]
c2=c2.melt(var_name='groups', value_name='vals')

x = c3.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
c3_scaled = min_max_scaler.fit_transform(x)
c3 = pd.DataFrame(c3_scaled)
c3.columns = ["danceability","energy","key","loudness","mode","speechiness","acousticness","instrumentalness","liveness","valence","tempo","time_signature"]
c3=c3.melt(var_name='groups', value_name='vals')

x = c4.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
c4_scaled = min_max_scaler.fit_transform(x)
c4 = pd.DataFrame(c4_scaled)
c4.columns = ["danceability","energy","key","loudness","mode","speechiness","acousticness","instrumentalness","liveness","valence","tempo","time_signature"]
c4=c4.melt(var_name='groups', value_name='vals')

x = c5.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
c5_scaled = min_max_scaler.fit_transform(x)
c5 = pd.DataFrame(c5_scaled)
c5.columns = ["danceability","energy","key","loudness","mode","speechiness","acousticness","instrumentalness","liveness","valence","tempo","time_signature"]
c5=c5.melt(var_name='groups', value_name='vals')

x = c6.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
c6_scaled = min_max_scaler.fit_transform(x)
c6 = pd.DataFrame(c6_scaled)
c6.columns = ["danceability","energy","key","loudness","mode","speechiness","acousticness","instrumentalness","liveness","valence","tempo","time_signature"]
c6=c6.melt(var_name='groups', value_name='vals')

x = c7.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
c7_scaled = min_max_scaler.fit_transform(x)
c7 = pd.DataFrame(c7_scaled)
c7.columns = ["danceability","energy","key","loudness","mode","speechiness","acousticness","instrumentalness","liveness","valence","tempo","time_signature"]
c7=c7.melt(var_name='groups', value_name='vals')

x = c8.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
c8_scaled = min_max_scaler.fit_transform(x)
c8 = pd.DataFrame(c8_scaled)
c8.columns = ["danceability","energy","key","loudness","mode","speechiness","acousticness","instrumentalness","liveness","valence","tempo","time_signature"]
c8=c8.melt(var_name='groups', value_name='vals')

x = c9.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
c9_scaled = min_max_scaler.fit_transform(x)
c9 = pd.DataFrame(c9_scaled)
c9.columns = ["danceability","energy","key","loudness","mode","speechiness","acousticness","instrumentalness","liveness","valence","tempo","time_signature"]
c9=c9.melt(var_name='groups', value_name='vals')


f, axes = plt.subplots(4, 1)
ax = sns.violinplot( data=c0 ,x="groups", y="vals", linewidth = 0.6, inner = 'point', scale= 'width', ax=axes[0])
ax = sns.violinplot( data=c1 ,x="groups", y="vals", linewidth = 0.6, inner = 'point', scale= 'width', ax=axes[1])
ax = sns.violinplot( data=c2 ,x="groups", y="vals", linewidth = 0.6, inner = 'point', scale= 'width', ax=axes[2])
ax = sns.violinplot( data=c3 ,x="groups", y="vals", linewidth = 0.6, inner = 'point', scale= 'width', ax=axes[3])

plt.show()

In [ ]:
print(df3)

In [ ]:
d0 = df3.loc[df3['kmeans'] == 0]

In [ ]:
d0.head()

,name,pid,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,kmeans
0,vibes,1003,0.62888,0.61972,5.017778,-6.988858,0.528889,0.102996,0.209519,0.051584,0.182748,0.452402,116.640884,3.977778,0
0,Now,1008,0.611702,0.555667,5.202381,-7.909345,0.583333,0.116706,0.353545,0.052273,0.19584,0.402094,115.749024,3.988095,0
0,Fall 16,1014,0.609566,0.636795,5.060241,-7.535964,0.518072,0.056135,0.230486,0.192751,0.16369,0.437713,121.182181,4.0,0
0,Slow jamz,1019,0.633395,0.56193,4.813953,-7.63786,0.581395,0.063465,0.251984,0.029304,0.213633,0.483295,126.261907,3.837209,0
0,,1024,0.574857,0.581,6.714286,-7.018429,0.428571,0.2042,0.514686,0.000011,0.2896,0.496857,105.494857,3.714286,0